:root {
  --primary: rgba(233, 156, 13, 0.925);
  --secondary: rgb(0, 0, 0);
  --bg: rgb(255, 127, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* Navbar */
/* Stil asal .navbar yang tetap ada */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1%;
  background-color: rgba(5, 3, 37, 0.8);
  border-bottom: 1px solid var(--secondary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  transition: z-index 0.3s ease-in-out; /* Animasi perubahan z-index */
}

/* CSS ketika menu "Education" diklik */
.navbar.navbar-hidden {
  z-index: -1; /* Atur z-index ke -1 untuk menyembunyikan .navbar */
}

.navbar .navbar-logo {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}
.navbar .navbar-logo span {
  color: teal;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}
.navbar .navbar-nav a:hover {
  color: teal;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding: 0.3rem;
  border-bottom: 0.1rem solid teal;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleY(1);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 1rem;
}
.navbar .navbar-extra a:hover {
  color: teal;
}

#menu {
  display: none;
}
/* Home */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../assets/bg-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  background: linear-gradient(
    0deg,
    rgb(241, 215, 141, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
  bottom: 0;
}

.hero .content {
  padding: 1.3rem 5%;
  max-width: 69rem;
}

.hero .content h1 {
  font-size: 2rem;
  color: whitesmoke;
  text-shadow: 1px 1px 3px rgba(5, 3, 37, 0.8);
  line-height: 1;
}

.hero .content p {
  font-size: 1.1rem;
  margin-top: 0.6rem;
  line-height: 1.5;
  font-weight: bolder;
  text-shadow: 1px 1px 3px rgba(5, 3, 37, 0.8);
}

.hero span {
  color: teal;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  color: #fff;
  background-color: teal;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3pxrgba (5, 3, 37, 0.8);
}

/* education */

/* Gradiasi latar belakang untuk "Section Education" */
.education {
  background: linear-gradient(
    to bottom,
    rgb(241, 215, 141),
    rgb(231, 148, 22)
  ); /* Sesuaikan warna gradiasi sesuai keinginan Anda */
  position: relative;
}

.education h2 {
  color: teal;
  text-shadow: 1px 1px 3px rgba(5, 3, 37, 0.8);
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-align: center;
}
.education ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dua kolom */
  grid-template-rows: repeat(3, auto); /* Tiga baris */
  gap: 10px; /* Jarak antara elemen */
}

.education ul li {
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  text-align: center; /* Teks ditengah kolom */
}

.education ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px;
  flex-grow: 1;
}

.education ul li::before {
  content: "\1F4D6"; /* Unicode book icon */
  font-size: 24px;
  margin-right: 10px;
}

/* Abot */

.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url(/assets/abot.jpg);
  background-size: cover;
}

.aboutme h2 {
  color: whitesmoke;
  text-shadow: 1px 1px 3px rgba(5, 3, 37, 0.8);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.persons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.person {
  text-align: center;
}

.person img {
  width: 175px;
  height: 200px;
  border-radius: 25%;
  margin-bottom: 0.5rem;
}

.person p {
  margin: 0.5rem 0;
  font-weight: bold;
}

/* footer section styling */
footer {
  background: yellow;
  padding: 15px 23px;
  color: #111;
  text-align: center;
}

footer span a {
  color: teal;
  text-decoration: none;
}

footer span a:hover {
  text-decoration: underline;
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .ro .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .about .row .content p {
    font-size: 1.6rem;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 62.5%;
  }
}
